<div class="container">
  <div>
    <img class="flat-img-display mt-4 mb-4" src="<%= @flat['imageUrl'] %>" />
  </div>
  <h1><%= @flat['name'] %></h1>
  <h2>Price: &#8364; <%= @flat['price'] %> </h2>


</div>


<div></div>
