<div class="container">
  <h1><%= @flat['name'] %></h1>
  <h2>Price: <%= @flat['price'] %> <%= @flat['priceCurrency'] %></h2>
  <div>
    <img class="flat-img-display" src="<%= @flat['imageUrl'] %>" />
  </div>

</div>


<div></div>
