// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-apply{
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
}

.btn-apply:hover{
  background-color: #000;
  color: #fff;
  border: 0;

}
ul{
  margin: 0;
  padding: 0;
}

.main-text{
  text-align: center;
}

.btn-content{
  display: flex;
  justify-content: center;
}

.btn-header{
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px 25px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-header:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;

}

.img-flat{
  width: 300px;
}


.flat-box{
  position: relative !important;
  list-style: none;
  margin: 20px 10%;
  position: relative;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}

.name-flat{
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: lighter;
  position:absolute;
}

.name-flat a{
  color: #1b2021;
  text-decoration: none;
}

.price-flat{
  position: relative !important;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin-left:  450px;
}

/* flats css */

.flat-img-display{
  width: 100%;
}
